/* --------------------------- */
/* HEADER COMPONENT */
/* --------------------------- */

.header {
  background-color: #c94c4c;
  color: #fff;
}

/* --------------------------- */
/* NAV BAR COMPONENT */
/* --------------------------- */

.header__mainNav {
  padding: 21px 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.header__mainNav li {
  margin-right: 30px;
}

.header__mainNav li a:link,
.header__mainNav li a:visited {
  text-decoration: none;
  padding: 8px 0;
  color: #fff;
  margin-top: 20px;
  font-size: 95%;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1.5px solid transparent;
  transition: 0.6s ease;
}

.header__mainNav li a:hover,
.header__mainNav li a:active {
  border-bottom: 1.5px solid #fff;
}

.header__rightNav {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin-left: 450px;
}

.header__rightNav li .headerIcon {
  font-size: 132%;
  cursor: pointer;
  transition: 0.6s ease;
}

.header__rightNav li .headerIcon:hover,
.header__rightNav li .headerIcon:active {
  transform: scale(1.2);
}