/* --------------------------- */
/* FEATURES SECTION COMPONENT */
/* --------------------------- */

.featuresSection {
  padding-top: 20px;
  background-color: #C94C4C;
  color: #fff;
  padding-bottom: 60px;
}

.featuresSection__headingText {
  padding-top: 15px;
  width: 70%;
  margin-left: 15%;
  font-size: 110%;
}

.featuresHeading {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-top: 36px;
  margin-bottom: 30px;
}

.featuresHeading:after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 15px;
  text-align: center;
}

.featuresSection__icons {
  display: block;
  font-size: 320%;
  margin-top: 36px;
  margin-bottom: 26px;
  margin-left: 36.5%;
}




