/* --------------------------- */
/* FOOTER COMPONENT */
/* --------------------------- */

footer {
  padding-top: 38px;
  background-color: #C94C4C;
  height: 162px;
  color: #fff;
}

.footer__aboutUsList {
  list-style: none;
  float: left;
}

.footer__socialIconsList {
  list-style: none;
  float: right;
}

.footer__aboutUsList li,
.footer__socialIconsList li {
  cursor: pointer;
  display: inline-block;
}

.footer__socialIconsList li {
  font-size: 132%;
  margin-right: 28px;
}

.footer__aboutUsList li:last-child,
.footer__socialIconsList li:last-child {
  margin-right: 0;
}

.footer__aboutUsList li a:link, 
.footer__aboutUsList li a:visited {
  letter-spacing: 0.25px;
  text-decoration: none;
  color: #fff;
  margin-left: 36px;
  transition: color 0.4s;
}

.footer__socialIcon {
  transition: color 0.4s;
}

.footer__socialIcon:hover {
  color: #131418;
}

.footer__aboutUsList li a:hover, 
.footer__aboutUsList li a:active {
  color: #ccc;
}

.footer__text {
  margin-top: 64px;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 0.5px;
}