/* --------------------------- */
/* PLANS COMPONENT */
/* --------------------------- */

.plansSection {
  padding-top: 66px;
  background-color: #C94C4C;
  color: #fff;
  padding-bottom: 70px;
}

.plansHeading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.plansHeading:after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.plansSectionInputEmail {
  margin-left: 228px;
  margin-top: 25px;
  padding: 15px 30px;
  width: 400px;
  border-radius: 200px;
  border: 1px solid transparent;
  outline: none;
  transition: border 0.4s;
}

.plansSectionInputEmail::placeholder {
  text-transform: capitalize;
  font-size: 110%;
  color: #ff2220;
}

.plansSection__icons {
  display: block;
  font-size: 260%;
  margin-top: 40px;
  margin-bottom: 26px;
  margin-left: 40%;
}

.plansGetStartedBtn:link,
.plansGetStartedBtn:visited {
  text-transform: capitalize;
  font-size: 90%;
  font-weight: 500;
  color: #ff2220;
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 200px;
  margin-left: 30px;
  transition: background-color 0.4s, color 0.4s;
}

.plansGetStartedBtn:hover,
.plansGetStartedBtn:active {
  color: #db0200;
  background-color: #e6e6e6;
}