* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 19px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

::selection {
  background-color: #ff7675;
  color: #fff;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #ff7675
}