/* --------------------------- */
/* TESTIMONIALS COMPONENT */
/* --------------------------- */

.testimonialsSection {
  background-color: #fde6e1;
  color: #2E1733;
  padding-top: 32px;
  height: 600px;
}

.testimonialsHeading {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-top: 36px;
  margin-bottom: 30px;
}

.testimonialsHeading::after {
  display: block;
  height: 2px;
  background-color: #2E1733;
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.testimonialsSectionImage {
  height: 200px;
  border-radius: 50%;
  margin-left: 42%;
}

.testimonialsSectionBlockquote {
  font-style: italic;
  font-size: 110%;
  line-height: 120%;
  position: relative;
  width: 70%;
  margin-left: 15%;
}

.testimonialsSectionBlockquote p {
  display: inline-block;
  margin-top: 16px;
  margin-left: 45px;
}

.testimonialsSectionCite {
  position: relative;
  text-align: center;
  display: block;
  font-size: 110%;
  margin-top: 15px;
  margin-bottom: 36px;
}

.testimonialsSectionCite::after {
  position: absolute;
  content:"\201C";
  display: block;
  font-size: 280%;
  margin-top: 50px;
}

.testimonialsSection__iconLeft, 
.testimonialsSection__iconRight{
  position: absolute;
  color: #e4453d;
  margin-top: 80px;
  font-size: 180%;
  cursor: pointer;
  transition: color 0.4s;
}

.testimonials-section__icon-left:hover, 
.testimonials-section__icon-right:hover,
.testimonials-section__icon-left:active, 
.testimonials-section__icon-right:active {
  color: #cd3800;
}

.testimonialsSection__iconLeft{
  margin-left: -361.5px;
}

.testimonialsSection__iconRight{
  margin-left: 120px;
}


